### Chicago Public Schools - Progress Report Cards (2011-2012)

In [3]:
import csv, sqlite3, pandas

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [13]:
# Store the dataset in a Table
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")
df

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,...,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [21]:
# type in your query to retrieve list of all tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
result = cur.fetchone()
result

('CHICAGO_PUBLIC_SCHOOLS_DATA',)

In [20]:
# type in your query to retrieve the number of columns in the SCHOOLS table
cur.execute("SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')")
result = cur.fetchone()
result

(78,)

In [58]:
cur.execute("SELECT name FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')")
result = cur.fetchall()
column_list = []
for res in result:
    column_list.append(res)
print(column_list)

[('School_ID',), ('NAME_OF_SCHOOL',), ('Elementary, Middle, or High School',), ('Street_Address',), ('City',), ('State',), ('ZIP_Code',), ('Phone_Number',), ('Link',), ('Network_Manager',), ('Collaborative_Name',), ('Adequate_Yearly_Progress_Made_',), ('Track_Schedule',), ('CPS_Performance_Policy_Status',), ('CPS_Performance_Policy_Level',), ('HEALTHY_SCHOOL_CERTIFIED',), ('Safety_Icon',), ('SAFETY_SCORE',), ('Family_Involvement_Icon',), ('Family_Involvement_Score',), ('Environment_Icon',), ('Environment_Score',), ('Instruction_Icon',), ('Instruction_Score',), ('Leaders_Icon',), ('Leaders_Score',), ('Teachers_Icon',), ('Teachers_Score',), ('Parent_Engagement_Icon',), ('Parent_Engagement_Score',), ('Parent_Environment_Icon',), ('Parent_Environment_Score',), ('AVERAGE_STUDENT_ATTENDANCE',), ('Rate_of_Misconducts__per_100_students_',), ('Average_Teacher_Attendance',), ('Individualized_Education_Program_Compliance_Rate',), ('Pk_2_Literacy__',), ('Pk_2_Math__',), ('Gr3_5_Grade_Level_Math__',), ('Gr3_5_Grade_Level_Read__',), ('Gr3_5_Keep_Pace_Read__',), ('Gr3_5_Keep_Pace_Math__',), ('Gr6_8_Grade_Level_Math__',), ('Gr6_8_Grade_Level_Read__',), ('Gr6_8_Keep_Pace_Math_',), ('Gr6_8_Keep_Pace_Read__',), ('Gr_8_Explore_Math__',), ('Gr_8_Explore_Read__',), ('ISAT_Exceeding_Math__',), ('ISAT_Exceeding_Reading__',), ('ISAT_Value_Add_Math',), ('ISAT_Value_Add_Read',), ('ISAT_Value_Add_Color_Math',), ('ISAT_Value_Add_Color_Read',), ('Students_Taking__Algebra__',), ('Students_Passing__Algebra__',), ('9th Grade EXPLORE (2009)',), ('9th Grade EXPLORE (2010)',), ('10th Grade PLAN (2009)',), ('10th Grade PLAN (2010)',), ('Net_Change_EXPLORE_and_PLAN',), ('11th Grade Average ACT (2011)',), ('Net_Change_PLAN_and_ACT',), ('College_Eligibility__',), ('Graduation_Rate__',), ('College_Enrollment_Rate__',), ('COLLEGE_ENROLLMENT',), ('General_Services_Route',), ('Freshman_on_Track_Rate__',), ('X_COORDINATE',), ('Y_COORDINATE',), ('Latitude',), ('Longitude',), ('COMMUNITY_AREA_NUMBER',), ('COMMUNITY_AREA_NAME',), ('Ward',), ('Police_District',), ('Location',)]

In [27]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
cur.execute("SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')")
result = cur.fetchall()
for res in result:
    print(res)

('School_ID', 'INTEGER', 7)
('NAME_OF_SCHOOL', 'TEXT', 4)
('Elementary, Middle, or High School', 'TEXT', 4)
('Street_Address', 'TEXT', 4)
('City', 'TEXT', 4)
('State', 'TEXT', 4)
('ZIP_Code', 'INTEGER', 7)
('Phone_Number', 'TEXT', 4)
('Link', 'TEXT', 4)
('Network_Manager', 'TEXT', 4)
('Collaborative_Name', 'TEXT', 4)
('Adequate_Yearly_Progress_Made_', 'TEXT', 4)
('Track_Schedule', 'TEXT', 4)
('CPS_Performance_Policy_Status', 'TEXT', 4)
('CPS_Performance_Policy_Level', 'TEXT', 4)
('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 4)
('Safety_Icon', 'TEXT', 4)
('SAFETY_SCORE', 'REAL', 4)
('Family_Involvement_Icon', 'TEXT', 4)
('Family_Involvement_Score', 'TEXT', 4)
('Environment_Icon', 'TEXT', 4)
('Environment_Score', 'REAL', 4)
('Instruction_Icon', 'TEXT', 4)
('Instruction_Score', 'REAL', 4)
('Leaders_Icon', 'TEXT', 4)
('Leaders_Score', 'TEXT', 4)
('Teachers_Icon', 'TEXT', 4)
('Teachers_Score', 'TEXT', 4)
('Parent_Engagement_Icon', 'TEXT', 4)
('Parent_Engagement_Score', 'TEXT', 4)
('Parent_Environment_Icon', 'TEXT', 4)
('Parent_Environment_Score', 'TEXT', 4)
('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 4)
('Rate_of_Misconducts__per_100_students_', 'REAL', 4)
('Average_Teacher_Attendance', 'TEXT', 4)
('Individualized_Education_Program_Compliance_Rate', 'TEXT', 4)
('Pk_2_Literacy__', 'TEXT', 4)
('Pk_2_Math__', 'TEXT', 4)
('Gr3_5_Grade_Level_Math__', 'TEXT', 4)
('Gr3_5_Grade_Level_Read__', 'TEXT', 4)
('Gr3_5_Keep_Pace_Read__', 'TEXT', 4)
('Gr3_5_Keep_Pace_Math__', 'TEXT', 4)
('Gr6_8_Grade_Level_Math__', 'TEXT', 4)
('Gr6_8_Grade_Level_Read__', 'TEXT', 4)
('Gr6_8_Keep_Pace_Math_', 'TEXT', 4)
('Gr6_8_Keep_Pace_Read__', 'TEXT', 4)
('Gr_8_Explore_Math__', 'TEXT', 4)
('Gr_8_Explore_Read__', 'TEXT', 4)
('ISAT_Exceeding_Math__', 'REAL', 4)
('ISAT_Exceeding_Reading__', 'REAL', 4)
('ISAT_Value_Add_Math', 'REAL', 4)
('ISAT_Value_Add_Read', 'REAL', 4)
('ISAT_Value_Add_Color_Math', 'TEXT', 4)
('ISAT_Value_Add_Color_Read', 'TEXT', 4)
('Students_Taking__Algebra__', 'TEXT', 4)
('Students_Passing__Algebra__', 'TEXT', 4)
('9th Grade EXPLORE (2009)', 'TEXT', 4)
('9th Grade EXPLORE (2010)', 'TEXT', 4)
('10th Grade PLAN (2009)', 'TEXT', 4)
('10th Grade PLAN (2010)', 'TEXT', 4)
('Net_Change_EXPLORE_and_PLAN', 'TEXT', 4)
('11th Grade Average ACT (2011)', 'TEXT', 4)
('Net_Change_PLAN_and_ACT', 'TEXT', 4)
('College_Eligibility__', 'TEXT', 4)
('Graduation_Rate__', 'TEXT', 4)
('College_Enrollment_Rate__', 'TEXT', 4)
('COLLEGE_ENROLLMENT', 'INTEGER', 7)
('General_Services_Route', 'INTEGER', 7)
('Freshman_on_Track_Rate__', 'TEXT', 4)
('X_COORDINATE', 'REAL', 4)
('Y_COORDINATE', 'REAL', 4)
('Latitude', 'REAL', 4)
('Longitude', 'REAL', 4)
('COMMUNITY_AREA_NUMBER', 'INTEGER', 7)
('COMMUNITY_AREA_NAME', 'TEXT', 4)
('Ward', 'INTEGER', 7)
('Police_District', 'INTEGER', 7)
('Location', 'TEXT', 4)

In [19]:
# How many Elementary Schools are in the dataset?
cur.execute('SELECT count("Elementary, Middle, or High School") FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE "Elementary, Middle, or High School"="ES" ')
result = cur.fetchone()
result

(462,)

In [24]:
 # What is the highest Safety Score?
cur.execute('SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA')
result = cur.fetchone()
result

(99.0,)

In [26]:
# Which schools have highest Safety Score?
cur.execute('SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)')
result = cur.fetchall()
result

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

In [30]:
# What are the top 10 schools with the highest "Average Student Attendance"?
cur.execute('SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM CHICAGO_PUBLIC_SCHOOLS_DATA ORDER BY  AVERAGE_STUDENT_ATTENDANCE DESC LIMIT 10')
result = cur.fetchall()
result

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

In [34]:
# Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance
cur.execute('SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM CHICAGO_PUBLIC_SCHOOLS_DATA ORDER BY  AVERAGE_STUDENT_ATTENDANCE nulls last LIMIT 5')
result = cur.fetchall()
result

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

In [37]:
# Now remove the '%' sign from the above result set for Average Student Attendance column
cur.execute('SELECT Name_of_School, REPLACE(Average_Student_Attendance, "%", "") \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5')
result = cur.fetchall()
result

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00')]

In [39]:
# Which Schools have Average Student Attendance lower than 70%?
cur.execute('SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, "%", "") AS DOUBLE ) < 70 \
     order by Average_Student_Attendance')
result = cur.fetchall()
result

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

In [41]:
# Get the total College Enrollment for each Community Area
cur.execute('SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY COMMUNITY_AREA_NAME')
result = cur.fetchall()
result

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

In [43]:
# Get the 5 Community Areas with the least total College Enrollment sorted in ascending order
cur.execute('SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT  FROM CHICAGO_PUBLIC_SCHOOLS_DATA \
            GROUP BY COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLLMENT ASC LIMIT 5')
result = cur.fetchall()
result

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

In [55]:
# List 5 schools with lowest safety score
cur.execute('SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE SAFETY_SCORE!="None" ORDER BY SAFETY_SCORE LIMIT 5')
result = cur.fetchall()
result

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('Emil G Hirsch Metropolitan High School', 13.0)]

In [ ]:
# Get the hardship index for the community area of the school which has College Enrollment of 4368
cur.execute('select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS \
where CD.community_area_number = CPS.community_area_number \
and college_enrollment = 4368')
result = cur.fetchall()
result

In [ ]:
# Get the hardship index for the community area which has the highest value for College Enrollment
cur.execute('select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )')
result = cur.fetchall()
result